.flexbox-event-choix {
  width: 100%;
  display: flex;
  background-position: 50% 50%;
  background: linear-gradient(-45deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 50%), image-url('event/food-salad-healthy-vegetables.jpg');
  background-size: cover;
  min-height: 350px;
  h3 {
    margin-top: 125px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
  }
  p {
    color: white;
  }
}

.flexbox-event-interlocuteur {
  width: 100%;
  display: flex;
  background-position: 50% 50%;
  background: linear-gradient(-45deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 50%), image-url("event/nana.jpg");
  background-size: cover;
  min-height: 350px;
  h3 {
    margin-top: 125px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
  }
  p {
    color: white;
  }
}

.flexbox-event-camtar {
  width: 100%;
  display: flex;
  background-color: white;
  min-height: 350px;
  h3 {
    margin-top: 125px;
    color: #FF5722;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
  }
  p {
    color: #000;
  }
}

.flexbox-event-radis {
  width: 100%;
  display: flex;
  min-height: 350px;
  background-position: 50% 50%;
  background-image: image-url("event/radis.png");
  background-size: cover;
  h3 {
    margin-top: 125px;
    color: #FF5722;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
  }
  p {
    color: #000;
  }
}


.flexbox-event-location {
  width: 100%;
  display: flex;

  background: linear-gradient(-45deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 50%), image-url("event/location.jpg");
  background-size: cover;
  min-height: 350px;
  h3 {
    margin-top: 125px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
  }
  p {
    color: white;
  }
}

.icone-camtar {
  img{
    width: 400px;
    margin-top:85px;
  }
}


