.flexboxft {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}
.baguette {
  flex: 1.3;
  background-image: url("baguette.jpg");
  background-size: cover;
  background-image: center;
  height: 350px;
}
.anexe {
  flex: 1.3;
  background-image: url("anexe.jpg");
  background-size: cover;
  background-image: center;
  height: 350px;
}

.text-item {
  flex: 1;
  padding: 10px 50px;
}

@media screen and (max-width: 768px){
  .flexboxft{
    flex-direction: column;
  }
  .baguette, .anexe {
  width: 100%;
  height: 300px;
  margin: auto;
  }
}


.h2-small-bar{
  h2 {
    position:relative;
    padding-bottom: 10px;
    font-weight: bold;
    z-index: 2;
  &:after {
      content: "";
      position: absolute;
      border-bottom: 3px solid $orange;
      width: 30px;
      bottom: 0;
      left: 5%;
      transform: translateX(-50%);
    }
  }
}
