<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li>
            <%= link_to "", "#", class: "fa fa-facebook" %>
          </li>
          <li>
            <%= link_to "", "#", class: "fa fa-twitter" %>
          </li>
          <li>
            <%= link_to "", "#", class: "fa fa-instagram" %>
          </li>
          <li>
            <%= link_to "", "#", class: "fa fa-linkedin" %>
          </li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>This our new static website</p>
      </div>
    </div>
  </div>
</div>




