<div class="event-banner">
  <div class="event-banner-content">
    <h1>La meilleur cuisine pour votre évènement</h1>
  </div>
</div>

<div class="container h1-orange text-center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 padded-top-bottom">
      <h2>Réservez facilement un foodtruck et offrez à vos convives un moment de plaisir</h2><br>
      <p>Vous gérez vous-même l'organisation de votre événement et cherchez un traiteur original? Foodtrucks, Foodbikes, Stands... Nous vous ouvrons notre carnet d'adresses, vous conseillons et sélectionnons pour vous les meilleurs prestataires répondants à vos envies.<br>
      Faites de votre événement une véritable réussite culinaire en proposant des plats frais, faits-maison et atypiques.</p>
    </div>
  </div>
</div>

<div class="flexbox-event-choix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Une infinité de choix</h3>
        <p>Plus de 30 styles culinaires et quelques 1000 plats différents.<br> Nous avons forcément la formule qu'il vous faut.</p>
      </div>
    </div>
  </div>
</div>
<div class="flexbox-event-camtar icone-camtar">
  <div class="container h1-orange">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-1"><%= image_tag "event/assembled.png" %></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Des prestataires sélectionnés</h3>
        <p>Un réseau de plus de 350 foodtrucks, foodbikes et stands mobiles de confiance choisis pour leur qualité et leur professionnalisme.</p>
      </div>
    </div>
  </div>
</div>



<div class="flexbox-event-interlocuteur">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Un seul interlocuteur</h3>
        <p>Plus besoin de gérer la relation avec les multiples prestataires contactés, un conseiller de notre équipes s'occupe de vous.</p>
      </div>
    </div>
  </div>
</div>

<div class="flexbox-event-radis">
  <div class="container h1-orange">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Des produits frais, du fait-maison</h3>
        <p>De vrais produits faits-maison cuisinés à partir de produits frais, issus de circuits courts, pour un goût exceptionnel.</p>
      </div>
    </div>
  </div>
</div>

<div class="flexbox-event-location">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>OÙ QUE VOUS SOYEZ</h3>
        <p>En intérieur comme en extérieur, en ville ou en campagne, nous vous proposons le format le plus adapté à vos besoins.</p>
      </div>
    </div>
  </div>
</div>



<div class="container text-center h1-orange padded">
  <div class="row">
    <div class="col-xs-12">
      <h2>Prêt à vous régaler?</h2>
      <br><br>
      <%= link_to "Nous contacter", "contact", class:"btn-nous-contacter margin-top-50" %>
    </div>
  </div>
</div>



