<div class="foodtruck-banner">
  <div class="foodtruck-banner-content">
    <h1>Développez votre business, trouvez de nouveaux clients</h1>
  </div>
</div>
<div class="container padded text-center">
  <div class="row">
    <div class="col-xs-12">
      <div class="h1-orange">
        <h2>Rejoignez gratuitement le plus grand réseau de traiteurs mobiles en France</h2>
      </div>
      <p>Vous souhaitez travailler plus et remplir votre calendrier d'événements? Nous vous proposons des évènements sélectionnés qui correspondent à vos exigences.
      Augmentez votre chiffre d'affaires en toute simplicité, nos équipes s'occupent de l'organisation de l'événement afin de vous laisser faire votre véritable métier: cuisiner.</p>
    </div>
  </div>
</div>

<div class="container padded text-center">
  <div class="row">
    <div class="col-xs-12">
      <div class="h1-orange">
        <h2>Notre expertise au service de votre réussite</h2>
      </div>
    </div>
  </div>
</div>


<div class="container padded text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h3>Facile</h3>
      <p>Nos équipes se chargent du démarchage et de l'organisation des événements.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3>Varié</h3>
      <p>Nous travaillons avec un éventail varié d'acteurs à la recherche de prestations street-food.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3>Souple</h3>
      <p>Pas d'abonnement à souscrire, nous vous facturons uniquement lorsque vous travaillez.</p>
    </div>
  </div>
</div>

<div class="flexboxft">
  <div class="baguette">
  </div>
  <div class="text-item h2-bold">
    <h2>Offre événement</h2>
    <p>A la recherche de prestations événementielles de 80 à 1000+ personnes?
    Nous vous proposons des événements sélectionnés selon vos exigences de déplacement, de couverts minimum et de type de prestation.
    Positionnez votre camion sur des emplacements rémunérateurs et augmentez vos revenus.</p>
  </div>
</div>
<div class="flexboxft">
  <div class="text-item h2-bold">
    <h2>Offre au quotidien</h2>
    <p>Vous cherchez à vous établir de façon régulière sur des emplacements possédant un réel potentiel commercial?
    Nous vous proposons des empacements récurrents testés par nos soins dans votre ville au pied d'entreprises ou d'écoles supérieures.</p>
  </div>
  <div class="anexe">
  </div>
</div>





<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <div class="h1-orange">
        <h2>Rejoignez la communauté!</h2>
        <a href="#" class="btn-nous-contacter margin-top-50">Nous contacter</a>
      </div>
    </div>
  </div>
</div>
