<div class="banner">
  <div class="banner-content">
    <h1>Le meilleur traiteur mobile, pour vous</h1>
      <p>
        Ne perdez pas de temps à chercher.<br>
        Nous trouvons le meilleur traiteur mobile pour vous restaurer.
      </p>
    <p></p>
    <a href="#" class="home-btn">Je découvre</a>
  </div>
</div>
<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12">
      <div class="h1-orange">
        <h1>Vos convives vont adorer</h1>
      </div>

      <p>Nous avons sélectionné un réseau de prestataires de qualité (hygiène, ponctualité, professionnalisme) afin de ne vous proposer que le meilleur de la streetfood.</p>
      <p>Envie de voyager au déjeuner ou au diner? Nous vous proposons une solution adaptée à vos besoins et envies quelles qu'elles soient.</p>
    </div>
  </div>
</div>
<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 col-sm-4 h2-bold">
      <div class="icono-home">
        <%= image_tag "icone-world.png" %>
      </div>
      <h2>DIVERSITE</h2>
      <p>Plus de 30 styles culinaires et plus de 1000 plats pour vous restaurer</p>
    </div>
    <div class="col-xs-12 col-sm-4 h2-bold">
      <div class="icono-home">
        <%= image_tag "icone-local.png" %>
      </div>
      <h2>QUALITE</h2>
      <p>Des produits frais, locaux pour une cuisine faite-maison</p>
    </div>
    <div class="col-xs-12 col-sm-4 h2-bold">
      <div class="icono-home">
        <%= image_tag "icone-cible.png" %>
      </div>
      <h2>ADAPTABILITE</h2>
      <p>Un service sur mesure pour un évènement réussit et des convives séduits</p>
    </div>
  </div>
</div>
<div class="flexbox">
  <div class="img-item-lady">
  </div>
  <div class="text-item h2-bold">
    <h2>Service événementiel</h2>
    <br><br>
      <p>Vous souhaitez organiser un évvénement et apporter une touche d'originalité en changeant du traiteur traditionnel? <br><br>
      Nous étudions vos besoins et vous proposons une formule sur mesure au meilleur prix.</p><br><br>
      <a href="#" class="en-savoir-plus">En savoir plus</a>
  </div>
</div>
<div class="flexbox">
  <div class="text-item h2-bold">
    <h2>Service rotation</h2>
    <br><br>
      <p>Envie de diversifier l'offre de restauration de votre entreprise? <br><br>
      Nous vous proposons la meilleure streetfood en intérieur comme en extérieur sur votre lieutravail. Ne perdez plus de temps à vous déplacer, profitez.</p><br><br>
      <a href="#" class="en-savoir-plus">En savoir plus</a>
  </div>
  <div class="img-item-tacos">

  </div>
</div>

<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 h2-bold">
      <h2>Ils ont déjà adopté la tendance.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <img src="http://placehold.it/80x80" alt="" class="img-circle padded">
    <p>"Depuis que mon entreprise acceuille des food trucks différents tous les jours, je me régale sans jamais me lasser."</p>
      Thomas K
      Stratégiste - Cdiscount
    </div>
    <div class="col-xs-12 col-sm-4">
    <img src="http://placehold.it/80x80" alt="" class="img-circle padded">
    <p>"Depuis que mon entreprise acceuille des food trucks différents tous les jours, je me régale sans jamais me lasser."</p>
      Cyril Y
      Stratégiste - Cdiscount
    </div>
    <div class="col-xs-12 col-sm-4">
    <img src="http://placehold.it/80x80" alt="" class="img-circle padded">
    <p>"Depuis que mon entreprise acceuille des food trucks différents tous les jours, je me régale sans jamais me lasser."</p>
      Jean Yve
      Stratégiste - Cdiscount
    </div>
  </div>
</div>
<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 h2-bold">
      <h2>Faites le test, c'est gratuit !</h2>
      <a href="#" class="btn-nous-contacter margin-top-50">Nous contacter</a>

    </div>
  </div>
</div>

<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 h2-bold">
      <h2>Vous gérez un foodtruck?</h2>
      <p>Rejoignez le premier réseau français de prestataires mobiles.</p>
      BTN m'inscrire Gratuitement

    </div>
  </div>
</div>



