.home-btn {
  color: orange;
  background-color: transparent;
  border: 2px solid orange;
  border-radius: 3px;
  padding: 10px 30px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
.home-btn:hover{
  opacity: 1;
  color: orange;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  color: orange;
}

.btn-nous-contacter{
  margin-top: 300px;
  color: orange;
  border: 2px solid orange;
  border-radius: 3px;
  padding: 10px 30px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.btn-nous-contacter:hover{
  color: orange;
  opacity: 1;
}
