.event-banner {
  height: 80vh;
  background: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 50%), image-url('event/wedding2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.event-banner-content {

  h1 {
    margin-top: 50px;
    font-size: 46px;
    font-weight: bold;
    color: white;
  }
}
