.home-banner {
  text-align: center;
  height: 80vh;
  background: linear-gradient(-225deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.6) 50%), image-url('banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-banner-content {

  h1 {
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: bold;
    color: #FF5722;
  }
  p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 60px;
  }

  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}
